body {
background-color: #F5EFE6;
}

/*
hr {
background-color: none;
border-style: none;
border-top: 5px dotted #AEBDCA;
width: 3%;
}
*/

h1 {
color: #7895B2;
font-family: cursive;
}

h3 {
color: #7895B2;
font-family: cursive
}
